<!DOCTYPE html>
<html>
  <body>
    <h1>Hello, <%= @user.username %>!</h1>
    <p>You have successfully signed in to your account.</p>
    <p>If this wasn't you, please secure your account immediately.</p>
  </body>
</html>
